@model List<PostListDto>


<div class="flex-shrink max-w-full w-full lg:w-3/3 lg:pl-8 lg:pt-14 lg:pb-8 order-first lg:order-last">
    <div class="w-full bg-white">
        <div class="mb-6">
            <div class="p-4 bg-gray-100">
                <h2 class="text-lg font-bold">Güncel Haberler</h2>
            </div>

            <ul class="post-number">
                @foreach (var haber in Model)
                {

                    <li class="border-b border-gray-100 hover:bg-gray-50">
                        <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" asp-action="Page" asp-controller="Home" asp-route-id="@haber.Id">@haber.Title</a>
                    </li>

                }
            </ul>
        </div>
    </div>
</div>