@page "/admin/addpost"

<main class="mt-16 px-32 ">
    <p class="font-bold text-3xl text-gray-800 px-2 border-l-4 border-red-600 ">Haber Ekle</p>
    <div class="mt-4">
        <form class="flex flex-col py-4">
            <label class="pr-4 my-4 text-2xl">Başlık</label>
            <input class="border p-4" placeholder="Başlık" />
            <label class="pr-4 my-4 text-2xl">Ön İçerik</label>
            <input class="border p-4" placeholder="Ön İçerik" />
            <label class="pr-4 my-4 text-2xl">İçerik</label>
            <textarea placeholder="Haber Yazısı" class="border p-4" rows="4" cols="50"></textarea>
            <div class="flex flex-row justify-between items-center">
                <input class="mt-4" type="file" />
                <input class="bg-gray-900 mt-4 w-32 p-4 text-white rounded" type="submit" value="Gönder">
            </div>

        </form>
    </div>

</main>
@code {

}
