@model CommentCreateDto

<div id="yorumlar">
    <p class="font-bold text-3xl text-gray-800 px-2 border-l-4 border-red-600">Yorumlar</p>
    <form class="w-3/5 flex flex-col mt-4" method="post" asp-action="CommentAdd" asp-controller="Home">
        <p class="text-xl">Yorum Ekle</p>
        <input type="hidden" asp-for="@Model.PostId" value="" />
        <input type="text" placeholder="Yorum" asp-for=@Model.Content_ class="p-4 mt-2">
        <input type="submit" value="Gönder" class="bg-gray-800 text-white p-4 mt-2">
    </form>
    <div asp-validation-summary="All"></div>
</div>